body{
    background: #f5d9d5;
    font-family: "Nunito", sans-serif;
}

#mainNavbar{
    font-weight: 100;
    font-size: 1.5rem;
}

#mainNavbar .nav-link{
    color: white;
}

#mainNavbar .nav-link:hover{
    color: #EA1C2C;
}

#mainNavbar .navbar-brand{
    color: #EA1C2C;
    font-size: 1.5rem;
}

#headingGroup span{
    color: #EA1C2C;
}

#headingGroup h1{
    font-weight: 100;
    font-size: 4rem;
}

.navbar.scrolled{
    background: rgb(222, 192, 222);
    transition: background 500ms; 
}

.content{
    margin-top: 100px;
    margin-bottom: 100px;
}

.content-font h2{
    color: #EA1C2C;
    font-weight: 100;
    font-size: 2.5rem;
}

.content-font p{
    color: #F498B8;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

/* using meadia query */
@media (max-width: 1200px) {
    #headingGroup h1{
	font-weight: 100;
        font-size: 3rem;
    }
    .content-font h2 {
 	font-size: 2rem;
    }
}

